<div 
  class="container"
  (mouseenter)="onSlideHover()"
  (mouseleave)="onSlideLeave()"
>

  <div class="slider" [class.sliding]="isSliding">
    <div *ngFor="let image of imageSrc">
      <img [src]="image" class="imagem">
    </div>
  </div>

  <div (click)="goToPrevious()" class="left arrow">
    <div class="arrows">❰</div>
  </div>
  <div (click)="goToNext()" class="right arrow">
    <div class="arrows">❱</div>
  </div>

  <div class="dotsContainer">
    <div
      class="dot"
      (click)="goToSlide(slideIndex)"
      *ngFor="let slide of imageSrc; let slideIndex = index"
      [ngClass]="{'active': currentSlide === slideIndex}"
    >_</div>
  </div>

</div>